{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<header class="wrapper">
	<nav>
		<ul role="list" class="spread compress">
			<li><a href="/menu">Menu</a></li>
			<li><a href="/locations">Locations</a></li>
			<li><a href="https://facebook.com"><img class="icon" src="../static/menu/images/2021_Facebook_icon.svg" /></a></li>
		</ul>
	</nav>
</header>
<main class="flow-l wrapper">
	<section class="flow-m">
	{% if locations_weekdays %}
		 {% for day in locations_weekdays %}
		 <h2>{{ day.weekday_txt }}</h2>
		 <ul role="list">
			 {% for stop in day.locationsstops_set.all %}
			 <li class="spread-between">
				 <h3>{{ stop.location_txt }}</h3>
				 <p>{{ stop.hours_txt }}</p>
			 </li>
			 {% endfor %}
		 {% endfor %}
		 </ul>
	{% else %}
		 <p>No weekdays are available.</p>
	{% endif %}
	</section>
</main>
<footer class="wrapper spread-evenly">
	<div>© {% now "Y" %} Savoy Pinot, LLC</div>
	<div>Made with joy by <a href="https://alexbilson.dev">Alex Bilson</a></div>
</footer>
