{% load static %}
<!DOCTYPE html>
<html lang="en-us" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Savour Pinoy & Sushi</title>

  <!-- TODO: add favicon -->
  <link rel="shortcut icon" href="" />

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	{% block head %}{% endblock %}
</head>

<header class="wrapper">
	<nav>
		<ul role="list" class="spread compress">
			<li><a href="{% url 'home:index' %}">Home</a></li>
			<li><a href="{% url 'menu:index' %}">Menu</a></li>
			<li><a href="{% url 'location:index' %}">Locations</a></li>
			<li>
				<a href="https://facebook.com">
					<img class="icon" src="{% static 'home/images/2021_Facebook_icon.svg' %}" />
				</a>
			</li>
		</ul>
	</nav>
</header>

<main class="flow-l wrapper">
	{% block content %}{% endblock %}
</main>

<footer class="wrapper flow-s">
	<div>
		{% block footer %}{% endblock %}
	</div>
	<ul class="spread-evenly" role="list">
		<li><span>© {% now "Y" %} Savour Pinoy & Sushi, LLC</span></li>
		<li><span>Made with joy by <a href="https://alexbilson.dev">Alex Bilson</a></span></li>
		<li><a href="{% url 'admin:index' %}">Admin</a></li>
	</ul>
</footer>
</html>
