/**********/
/* BLOCKS */
/**********/

.stops {
	li:first-child {
		font-size: var(--step-1);
		padding-bottom: var(--space-3xs);
		border-bottom: 3px groove var(--color-stroke);
	}

	li + li {
		margin-top: var(--space-xs);
		border-bottom: 1px solid var(--color-stroke);
	}

	li {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: var(--space-2xs);
		max-width: revert;
	}

	@media screen and (max-width: 375px) {

		li:first-child {
			display: none;
		}
		li {
			display: flex;
			flex-flow: column nowrap;
		}
	}
}
