{% extends "base/index.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'menu/style.css' %}">
{% endblock %}

{% block content %}
<section class="flow-m | menu">
{% if menu_sections %}
	 {% for section in menu_sections %}
	 <h2>{{ section.display_txt }}{% if section.raw_disclaimer %}<sup>*</sup>{% endif %}</h2>
	 <p class="description">{{ section.desc_txt }}</p>
	 <ul role="list" class="flow-m">
		 {% for item in section.menuitem_set.all %}
		 <li class="spread-between | menu-item">
			 <div>
				 <div class="spread no-wrap"><h3>{{ item.display_txt }}{% if item.raw_disclaimer %}<sup>*</sup>{% endif %}</h3><h4>${{ item.price }}</h4></div>
				 <p class="description">{{ item.desc_txt }}</p>
			 </div>
			 <div>
				 {% if item.image %}
				 <img src="{{ item.image.url }}" />
				 {% endif %}
			 </div>
		 </li>
		 {% endfor %}
	 {% endfor %}
	 </ul>
{% else %}
	 <p>No menu sections are available.</p>
{% endif %}
</section>
{% endblock %}

{% block footer %}
<p>*CONSUMING RAW OR UNDERCOOKED MEATS, POULTRY, SEAFOOD, SHELLFISH, OR EGGS MAY INCREASE YOUR RISK OF FOODBORNE ILLNESS, ESPECIALLY IF YOU HAVE CERTAIN MEDICAL CONDITIONS.</p>
{% endblock %}
