{% extends "base/index.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'location/style.css' %}">
{% endblock %}


{% block content %}
{% if stops %}
	<h2>Stops</h2>
	<ol role="list" class="stops">
		<li>
			<div>Date</div>
			<div>Location</div>
			<div>Address</div>
			<div>Hours</div>
		</li>
	{% for stop in stops %}
		<li>
			<div>{{ stop.date }}</div>
			<div>{{ stop.location }}</div>
			<div>{{ stop.address }}</div>
			<div>{{ stop.hours }}</div>
		</li>
	{% endfor %}
	</ol>
{% else %}
	<p>No stops are available.</p>
{% endif %}
{% endblock %}
