{% extends "base/index.html" %}

{% block content %}
{% if location_weekdays %}
	{% for day in location_weekdays %}
		<section class="flow-m">
		<h2>{{ day.weekday_txt }}</h2>
		<ul role="list">
		{% if day.locationstop_set %}
			<table>
				<thead>
					<tr>
						<th>Location</th>
						<th>Hours</th>
					</tr>
				</thead>
				<tbody>
			{% for stop in day.locationstop_set.all %}
				<tr>
					<td>{{ stop.display_txt }}</td>
					<td>{{ stop.hours_txt }}</td>
				</tr>
			{% endfor %}
				</tbody>
			</table>
		{% endif %}
		</section>
	{% endfor %}
	</ul>
{% else %}
	<p>No weekdays are available.</p>
{% endif %}
{% endblock %}
